<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>

    {% extends 'lists/main.html' %}
    {% block content %}

</head>
<body>

    <div class="card text-center bg-dark text-white mx-auto my-3" style="width: 30rem;">
        <p class="fs-1 text-center my-3">New list</p>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group m-3">
                <label>List name</label>
                <input required name="name" type="text" placeholder="Enter a list name" class="form-control">
            </div>


            <div class="form-group m-3">
                <label>Select a category</label>
                <select name="category" class="form-control">
                    <option value="none">Select a category...</option>
                    {% for category in categories %}
                        {% if category.user == request.user %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                    {% endfor %}

                </select>
            </div>

            <div class="form-group m-3">
                <label>Create new category</label>
                <input name="category_new" type="text" placeholder="Create a new category" class="form-control">
            </div>

            <button type="submit" class="btn btn-success my-3">Create</button>
            </form>
        </div>
</body>

</html>
{% endblock %}