<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>

    {% extends 'lists/main.html' %}
    {% block content %}




</head>
<body>

     <div class="card bg-dark text-white mx-auto my-3 card-position">
        <div class="card-body">
            <h5 class="card-title capitalize">{{request.user}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{request.user.email}}</h6>
        </div>
         <h6 class="card-text my-3 list-counter">You have {{ lists.count }} created lists</h6>
    </div>

    <div class="card bg-dark text-white mx-auto my-3 card-position">
        <div class="card-body">
            <h2 class="card-title">Categories</h2>
        </div>

        <div class="card bg-dark text-white mx-auto my-3 border-0 width20">
            <div class="card-text my-3">
                    <h4> Used categories: </h4>
                        {% for category in categories %}
                            <div class="list-group-item bg-dark text-white icon-position">
                                    {% if category.list_set.count > 0 %}
                                        {{category.name}}
                                    <a class="delete-link" href="{% url 'lists' %}?category={{category.name}}">&#8250;</a>
                                    {% endif %}
                            </div>
                        {% endfor %}
                </div>
            </div>

        <form method="POST" action="">
        {% csrf_token %}
            <div class="card bg-dark text-white mx-auto my-3 border-0 width20">
                <div class="card-text my-3">
                    <h4> Unused categories: </h4>
                        {% for category in categories %}
                            <div class="list-group-item bg-dark text-white icon-position">

                                {% if category.list_set.count == 0 %}
                                    {{category.name}}
                                    <a class="delete-link" href="{% url 'delete-category' category.id %}">&#215;</a>
                                {% endif %}

                            </div>

                        {% endfor %}
                </div>
            </div>

        </form>

    </div>

    <div class="card bg-dark text-white mx-auto my-3 card-position">
        <div class="card-body">
            <h2 class="card-title">Lists</h2>
        </div>

        <div class="card bg-dark text-white mx-auto my-3 border-0 width20">
            <div class="card-text my-3">
                    <h4> Your lists: </h4>
                        {% for list in lists %}
                            <div class="list-group-item bg-dark text-white icon-position">
                                    {{list.name}}
                                    <a class="update-link" href="{% url 'update' list.id %}">&#9998;</a>
                            </div>
                        {% endfor %}
                </div>
            </div>
    </div>



</body>
</html>
{% endblock %}