<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>

    {% extends 'lists/main.html' %}
    {% block content %}

    <style type="text/css">
		.delete-link {
		    text-decoration: none;
		    font-weight: 900;
		    color: #ff4d4d;
		    font-size: 25px;
		    line-height: 0;
		}

          .update-link {
		    text-decoration: none;
		    font-weight: 900;
		    color: #0095ed;
		    font-size: 25px;
		    line-height: 0;
		}

    </style>

</head>

<body>

    <form method="post" action="#">
        {% csrf_token %}

        <div class="card bg-dark text-white mx-auto my-3" style="width: 30rem;">
            <div class="container" style="display: flex; align-items: center; justify-content: center; gap: 25px;">
                <p class="fs-1 text-center my-3" style="text-align: center">{{lista.category.name}}</p>
                <a class="update-link" href="{% url 'update' lista.id %}">&#9998;</a>
            </div>



            <ul class="list-group m-3 border border-secondary border-top-0">
                <li class="list-group-item list-group-item-dark text-center">{{lista.name}}</li>

                {% for item in items %}
                        <li class="list-group-item bg-dark text-white" style="display: flex; align-items: center; padding: 10px; justify-content: space-between;">
                            {% if item.complete == True %}
                                <div class="item">
                                    <input class="form-check-input me-1" type="checkbox" value="clicked" name="c{{item.id}}" id="positive" checked>
                                    <label class="form-check-label text-decoration-line-through" for="positive">{{item.name}}</label>
                                </div>
                                    <a class="delete-link" href="{% url 'delete-item' item.id %}">&#215;</a>
                            {% else %}
                                <div class="item">
                                    <input class="form-check-input me-1" type="checkbox" value="clicked" name="c{{item.id}}" id="negative">
                                    <label class="form-check-label" for="negative">{{item.name}}</label>
                                </div>
                                <a class="delete-link" href="{% url 'delete-item' item.id %}">&#215;</a>

                            {% endif %}
                        </li>
                {% endfor %}
            </ul>



            <div class="container p-3" style="width: 30rem;">
                <div class="input-group">
                    <input name="item" type="text" class="form-control" id="formGroupExampleInput" placeholder="Add new item ...">
                    <div class="input-group-append">
                        <button type="submit" name="newItem" value="newItem" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
            <div class="container text-center my-3" style="margin-top: 10px;">
                <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
            </div>
    </div>
    </form>

</body>

</html>
{% endblock %}